/*
    @intro page
    @developer: IM JUN HYEOK
    @date: 2016. 09.13
*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

        * {
            margin: 0;
            padding: 0;
        }
        
#skipBtn {
         float: right;
         position: relative;
         z-index: 10;
         height: 20px;
         width: 50px;   
         color: #ffffff;
         margin: 50px 20px;
         text-decoration: none;
         margin-left: 90%;
      }
      
        #logo {
            position: absolute;
            width: 500px;
            height: 500px;
            left: 50%;
            top: 50%;
            margin-top: -250px;
            margin-left: -250px;
        }

        #subTitle {
            margin-top: 140px;
        }

        #title {
            position: relative;
            font-size: 5em;
            color: white;
        }
		
        #teamName {
            margin-top: 200px;
        }
		.container {
			z-index: 100;
		}
		
        .ghost-button-container-container {
            margin-top: 20%;
        }

        .ghost-button {
            padding: 10px 20px;
            margin: 50px 20px;
            border:1px solid #fff;
            color: #fff;
            text-decoration: none;
        }

        .ghost-button:hover {
            text-decoration: none;
            background-color: #fff;
            color: black;
        }
